.image-container {
    height: 100px;
    width:200px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-preview {
    height: 100%;
    width: auto;  
    object-fit: cover;
}

.mensaje {
    text-align: center;
}

.btn-close {
    background-color: rgb(254, 0, 0);
}