<h1 class="mt-4">Perfil de usuario</h1>
<hr>

<div *ngIf="auth.user$ | async as user" class="container mb-4">
    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Nombre:</div>
        <div class="col-sm-9"><code>{{ user.name }}</code></div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Correo:</div>
        <div class="col-sm-9"><code>{{ user.email }}</code></div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Nick:</div>
        <div class="col-sm-9"><code>{{ user.nickname }}</code></div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Actualización:</div>
        <div class="col-sm-9"><code>{{ user.updated_at }}</code></div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Usuario verificado:</div>
        <div class="col-sm-9"><code>{{ user.email_verified }}</code></div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">ID:</div>
        <div class="col-sm-9"><code>{{ user.sub }}</code></div>
    </div>
</div>

<hr>

<div class="container mt-4">
    <h5>Imágenes Subidas</h5>
    <div class="image-grid">
        <p class="mensaje" *ngIf="imageUrls.length == 0">No hay imágenes cargadas</p>
        <div class="image-item" *ngFor="let url of imageUrls">
            <button type="button" class="btn btn-close" (click)="deleteImage(url)"></button>
            <img [src]="url" alt="Imagen subida" class="img-thumbnail img-preview" />
        </div>
    </div>
</div>



